<table style="font-family:courier new; font-size:12; width:7.5in; border-collapse:collapse">
<colgroup span="3" style="text-align:center;"></colgroup>
<colgroup span="3" style="text-align:right"></colgroup>
<colgroup style="text-align:left"></colgroup>
<colgroup style="text-align:right"></colgroup><tr>
<th class="charges" style="width:1in">Renewal ID</th>
<th class="charges" style="width:0.90in">Date Sent</th>
<th class="charges" style="width:1.0in">Test Period</th>
<th class="charges" style="width:0.80in">Fee</th>
<th class="charges" style="width:0.80in">Late Fee</th>
<th class="charges" style="width:0.80in">Paid</th>
<th class="charges" style="width:1.4in">Check #</th>
<th class="charges" style="width:0.80in">Balance</th>
</tr><tr style="width:7.5in">
<td class="charges">0123701-230</td>
<td class="charges">06-30-09</td>
<td class="charges">13 Weeks</td>
<td class="charges">$175.00</td>
<td class="charges">$100.00</td>
<td class="charges">$275.00</td>
<td class="charges">late fee $15</td>
<td class="charges">$200.00</td></tr><tr>
<td colspan="6"></td>
<td style="text-align:right"><b>BALANCE DUE:</b></td>
<td class="charges">$200.00</td>
</tr><tr>
<td colspan="6" style="text-align:center"><b>Note: Balance due before 04/15/2010</b></td>
<td colspan="2"></td>
</tr></table>
</h3>