Oral Microbiology Laboratory

<table style="font-family:times new roman; font-size:12; font-weight:bold; text-align:center; width:7.5in"><tr>
<td style="width:2.5in">Sterilization Monitoring</td>
<td style="width:2.5in">Clinical Monitoring</td>
<td style="width:2.5in">Dental Unit Water Line Testing</td>
</tr><tr>
<td style="width:2.5in">919-425-3573</td>
<td style="width:2.5in">919-425-3574</td>
<td style="width:2.5in">919-425-3574</td>
</tr><tr><td colspan="3">
<table style="font-family:times new roman; font-size:12; font-weight:bold; width:7.5in"><tr>
<td style="text-align:right; width:3.5in; padding-right:0.2in">Fax: 919-425-3534</td>
<td style="text-align:left; width:4in; padding-left:0.2in">Email: oralmicro@dentistry.unc.edu</td>
</tr></table>
</td></tr></table>

