{% extends "base.html" %}

{% block content %}
<div id="content">
    <P class="login" >
        This website serves registered users of UNC's
        <a href="http://www.dentistry.unc.edu/research/corefacilities/oralmicrobiology.cfm" class="login">
            Oral Microbiology Laboratory
        </a>.
        <table style="width:4in; margin-left:100px; margin-top:0px;">
            <tr>
                <td>
                    <a href="login" class="button">Proceed to login.</a>
                </td>
            </tr>
        </table>
    </P>
</div>
{% endblock %}